<ion-header>
  <ion-toolbar text-center>
    <ion-title>Évenements</ion-title>
    <ion-icon slot="end" name="add" (click)="goToNewEvent()" style="margin-right: 2%;"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-searchbar
  value="Rechercher un évenement"
  [(ngModel)]="filtre"
  (ionChange)="filtrer()"
></ion-searchbar>
  <ion-list lines="none">
    <ion-item *ngFor="let event of listEvenementsAffichage" (click)="onCardClick(event)">
      <ion-avatar slot="start">
        <img src="{{event.image}}">
      </ion-avatar>
        <ion-label>

          <h2 style="vertical-align: middle;">
            {{event.titre}}
          </h2>

          <br>

          <p>
            <ion-icon name="calendar"></ion-icon>
            {{dateUtil.formateDate(event.debut)}}
          </p>


          <p>
            <ion-icon name="clock"></ion-icon>
            {{dateUtil.formateHeure(event.debut)}} → {{dateUtil.formateHeure(event.fin)}}
          </p>


          <p>
            <ion-icon name="pin"></ion-icon>
            {{event.adresse.ville}}
          </p>

        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>