<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToNewGroupe()">
        <ion-icon slot="icon-only" color="dark" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large">Groupes</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher une groupe"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <!-- <br> -->
  <ion-card>
    <ion-item style=" width: 100%;">
      <ion-icon name="people" color="dark" size="large"></ion-icon>
      <ion-label class="ion-padding-start" style="font-size: large; font-weight: bold;">Groupes</ion-label>
    </ion-item>
  </ion-card>
  <ion-list lines="none">
    <ion-item *ngFor="let groupe of listGroupes" (click)="onCardClick(groupe)">
      <ion-avatar slot="start">
        <img src="http://7wallpapers.net/wp-content/uploads/2016/05/20_Panda.jpg">
      </ion-avatar>
      <ion-label>
        <h2><b>{{groupe.nom}}</b></h2>
        <p>
          {{groupe.description}}
        </p>
        <ul>
          <li>Crée depuis : {{groupe.date_cre  | date: 'dd/MM/yyyy' }}</li>
          <li *ngIf="groupe.membres">Membres : {{groupe.membres.length}}</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>