<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large">Liste des Géolocalisations</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="add" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding="true" class="has-header"> -->
  <ion-content class="has-header">
    
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Libelle</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Date de création</th>
        <th>Date de Modification</th>
        <th>Actif</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td>513</td>
        <td>géolocalisation lbl</td>
        <td>51.482</td>
        <td>-5.200</td>
        <td>13/01/2020 13:54:16</td>
        <td>13/01/2020 13:54:16</td>
        <td>true</td>
        <td>
          <ion-button color="secondary" size="small" (click)="updateRecord(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr> -->
      <tr *ngFor="let item of listGeolocalisations">
        <td>{{ item.id }}</td>
        <td>{{ item.latitude }}</td>
        <td>{{ item.latitude }}</td>
        <td>{{ item.longitude }}</td>
        <td>{{ item.date_cre | date: 'dd/MM/yyyy H:mm'}}</td>
        <td>{{ item.date_mod | date: 'dd/MM/yyyy H:mm'}}</td>
        <td>{{ item.flag }}</td>
        <td>
          <!-- <ion-button color="secondary" size="small" (click)="updateRecord(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button> -->
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  
</ion-content>