<ion-header>
  <ion-toolbar>
    <ion-button routerLink="../../" routerDirection='root'>
      <ion-icon name="arrow-back" color="black"></ion-icon>
      Retour
    </ion-button>

    <ion-icon *ngIf="loaded && isCreateur" name="trash" slot="end" (click)="delete()"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="loaded">
  <ion-grid class="panel">
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="7" size-xs="12" class="container">
        <ion-grid>
          <ion-row style="text-align: center">
            <ion-col>
              <h1>{{evenement.titre}}</h1>
            </ion-col>
          </ion-row>

          <ion-list>
            <ion-item style="border: none">
              <ion-icon name="calendar"></ion-icon>
              <ion-label style="vertical-align: middle;">
                <h2>{{dateUtil.formateDate(evenement.debut)}}</h2>
              </ion-label>
            </ion-item>

            <ion-item style="border: none">
              <ion-icon name="clock"></ion-icon>
              <ion-label style="vertical-align: middle;">
                <h2>{{dateUtil.formateHeure(evenement.debut)}} → {{dateUtil.formateHeure(evenement.fin)}}</h2>
              </ion-label>
            </ion-item>

            <ion-item style="border: none">
              <ion-icon name="pin"></ion-icon>
              <ion-label style="vertical-align: middle;">
                <h2>{{evenement.adresse.adresse}}, {{evenement.adresse.ville}} ({{evenement.adresse.codePostal}})</h2>
              </ion-label>
            </ion-item>

            <ion-item style="border: none">
              <ion-icon name="walk"></ion-icon>
              <ion-label *ngIf="evenement.nombreParticipantsMax == 0">{{nombreParticipants}}</ion-label>
              <ion-label *ngIf="evenement.nombreParticipantsMax > 0">{{nombreParticipants}}
                /{{evenement.nombreParticipantsMax}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-row style="text-align: center; background-color: #333333">
            <ion-col>
              <img src="{{evenement.image}}" />
            </ion-col>
          </ion-row>

          <ion-row *ngIf="loaded">
            <ion-col>
              <ion-button color="primary" *ngIf="!isParticipant" (click)="participer()" expand="full"
                style="height: 60px; ">
                Participer
                &nbsp;
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button color="success" *ngIf="isParticipant" expand="full" (click)="participer()"
                style="height: 60px;">
                Participe
                &nbsp;
                <ion-icon name="checkmark"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3>
                <ion-icon name="information-circle"></ion-icon> Description:
              </h3><br>
              <ion-label *ngIf="evenement.description != null || evenement.description != ''">{{evenement.description}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3>
                <ion-icon name="map"></ion-icon> Accéder au lieu de l'évenement:
              </h3> <br>
              <img src="/assets/exempleMaps.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>