<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createEvent()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large">Nouvelle conversation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- <ion-grid style="height: 100%; display: flex">
      <ion-row  style="flex: 1 1 auto; justify-content: center; ">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="container"> -->
    <!-- <br>
          <h3>Détails</h3>
          <br> -->

    <ion-card>
      <ion-item>
        <div>Titre : </div>&nbsp;<br>
        <ion-input class="input" type="text" [(ngModel)]="conversation.titre" name="title"></ion-input>
      </ion-item>
    </ion-card>
    <!-- TODO Corriger fonctionne du select -->
    <ion-card>
      <ion-item style="opacity: 0.9;">
        <ion-label>Contact : </ion-label>&nbsp;
        <ion-select [(ngModel)]="participant" [ngModelOptions]="{standalone: true}" multiple="false" placeholder="choisir une personne">
          <ion-select-option *ngFor="let user of listUtilisateurs" [value]="user">{{user.nom + ' ' + user.prenom}}
          </ion-select-option>
        </ion-select>
      </ion-item><br>
    </ion-card>
    <ion-button style="border-bottom: solid 1px rgb(184, 213, 255);" expand="full" (click)="createEvent()" block>
      Créer <ion-icon name="add"></ion-icon>
    </ion-button>
    <!-- </ion-col>
      </ion-row>
    </ion-grid> -->
  </form>
</ion-content>