<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="https://7wallpapers.net/wp-content/uploads/Jordan-Barrett-33.jpg">
    </ion-avatar>

    <!-- <ion-title size="large">Conversation</ion-title> -->
    <ion-title>
      Conversation : {{conversation.titre}}<br>
      <!-- <div class="status">En ligne</div> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-item lines="none" *ngFor="let msg of listMessages">
    <ion-badge color="primary" *ngIf="msg.emetteur.id == user.id" slot="end">{{msg.contenu}}<ion-note color="light">
      <b>{{msg.dateCre | date: 'H:mm'}}</b></ion-note>
    </ion-badge>
    <ion-badge color="light" *ngIf="msg.emetteur.id != user.id" slot="start">
        <ion-note item-start>
          {{msg.emetteur.nom}} {{msg.emetteur.prenom}}
        </ion-note><br>
        {{msg.contenu}}
        <ion-note color="dark" item-end> <b>{{msg.dateCre | date: 'H:mm'}}</b></ion-note> 
    </ion-badge>
    <!-- <ion-icon name="done-all"></ion-icon> -->
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
        <ion-button fill="outline" shape="round" size="small">
          <ion-icon slot="icon-only" name="arrow-round-up"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    <ion-input placeholder="Votre message" [(ngModel)]="message.contenu"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="createEvent()">
        Envoyer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>