ion-content{
    --background: #fff url('../../../../assets/fonds/fond_convers.jpeg') no-repeat center center / cover;
}

.status {
    color: grey;
    font-weight: 400;
    font-size: 13px;
}

ion-header ion-avatar {
    padding: 8px;
}

ion-content{
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
}

ion-footer ion-toolbar {
    --background: #f4f4f4;
}
ion-footer ion-button {
    font-weight: 600;
}
ion-input {
    background: white !important;
    height: 31px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 4px;
    border: 1px #dfdfdf solid;
    --padding-start: 8px;
}

ion-item {
    --background: transparent;
}
ion-badge {
    padding: 6px 9px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 1px 1px 3px #00000029;
}
ion-item ion-note {
    font-size: 10px;
    margin-left: 8px;
}
ion-item ion-note ion-icon{
    font-size: 20px;
    margin-bottom: -6px;
    margin-left: -2px;
}
