<ion-header>
  <ion-toolbar text-center>
    <ion-title>Bienvenue sur Sport2Go</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-grid class="panel">
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="container">
        
        <div text-center>
          <img src="../../../../assets/logos/logo.png"/>
          <h4>Connectez vous</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input placeholder="Adresse Email" [(ngModel)]="username" type="email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button ion-button color="secondary" (click)="login()">
            Connexion
          </ion-button>

          <ion-button icon="exit" ion-button margin-right (click)="register()">
            Créer un compte
          </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<ion-content >
  <div class="padding">
    
    <div class="logo">
      <img src="../../../../assets/logos/sp2/logo_lg_tr.png"> 
    </div>

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" [(ngModel)]="username" type="email" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <!-- <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button> -->
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline" (click)="login()">Connexion</ion-button>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" (click)="register()">Inscription</ion-button>

    <!-- <ion-item lines="none">
      <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
    </ion-item>
    
    <div class="flex">
      <ion-button color="facebook" shape="round">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="google" color="youtube" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div> -->

  </div>
</ion-content>
