<ion-tabs class="container">

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/mes-evenements" routerDirection='root'>
      <ion-icon name="ios-checkmark-circle" color="dark"></ion-icon>
    </ion-tab-button>

    
      <ion-tab-button routerLink="/evenements" routerDirection='root'> 
          <ion-icon name="ios-calendar" color="dark"></ion-icon>
        </ion-tab-button>

    <ion-tab-button routerLink="/home" routerDirection='root'>
      <ion-icon name="ios-home" color="dark"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/conversations" routerDirection='root'>
      <ion-icon name="ios-chatbubbles" color="dark"></ion-icon>
    </ion-tab-button>

   <ion-tab-button routerLink="/groupes" routerDirection='root'>
      <ion-icon name="md-contacts" color="dark"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
