ion-content{
    --background: #fff url('../../../assets/fonds/fond_admin.png') no-repeat center center / cover;
}

ion-card{
    background: #fff !important;
    opacity: 0.9;
    margin: 5%;
}

ion-button{
    height: 5em;
}

ion-icon {
    font-size: 3em;
  }

ion-label{
    font-size: 1.3em;
}