<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large">Panneau d'administration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-card>
            <ion-button expand="block" fill="clear" color="dark" (click)="adminAdresses()">
              <ion-icon name="map" slot="start"></ion-icon>
              <ion-label>Adresses</ion-label>
            </ion-button>
          </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminConversations()">
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label>Conversations</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminEvenements()">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>Evenements</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminGeolocalisations()">
            <ion-icon name="locate" slot="start"></ion-icon>
            <ion-label>Geolocalisations</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminGroupes()">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Groupes</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminMessages()">
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Messages</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminSports()">
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Sports</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-button expand="block" fill="clear" color="dark" (click)="adminUtilisateurs()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Utilisateur</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>