ion-content{
    --background: #fff url('../../../../assets/fonds/fond_admin.png') no-repeat center center / cover;
}
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}

	/* Zebra striping */
	tr:nth-of-type(2n+1) { 
		background: #eee; 
		opacity: 0.92;
	}
	tr:nth-of-type(2n) { 
		background: beige; 
		opacity: 0.92;
	}
	th { 
		background: #333; 
		color: white; 
        font-weight: bold;
	}
	td, th { 
		padding: 3px; 
		border: 1px solid #ccc; 
		text-align: center; 
	}


	/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			// border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 15%;
			text-align: left;
		}

		td:before {
			/* Now like a table header */
			position: relative;
			/* Top/left values mimic padding */
			top: 0px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
		*/
		td:nth-of-type(1) { font-weight:bold;font-size:150%;margin-top:5px; }
    	td:nth-of-type(1):before { content: "Id :"; }
		td:nth-of-type(2):before { content: "Adresse :"; }
		td:nth-of-type(3):before { content: "Ville :"; }
		td:nth-of-type(4):before { content: "Code Postal :"; }
		td:nth-of-type(5):before { content: "Pays :"; }
		td:nth-of-type(6):before { content: "Date de création:"; }
		td:nth-of-type(7):before { content: "Date de modification:"; }
		td:nth-of-type(8):before { content: "Actif :"; }
		td:nth-of-type(9):before { content: "Actions :"; }
	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body {
			padding: 0;
			margin: 0;
			width: 320px; }
		}

	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body {
			width: 495px;
		}
	}