<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-button>
                <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
            </ion-button> -->
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="goToNewConversation()">
                <ion-icon slot="icon-only" color="dark" name="create"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title size="large">Conversations</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Rechercher une discussion"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
    <br>

    <div class="block mesgroupes" *ngIf="listMesGroupes.length > 0">
        <ion-item style=" width: 100%;">
            <br>
            <ion-icon name="people" color="dark" size="large"></ion-icon>
            <ion-label class="ion-padding-start" style="font-size: large; font-weight: bold;">Mes Groupes</ion-label>
        </ion-item>
        <ion-list lines="none">
            <ion-item *ngFor="let conversation of listMesGroupes" (click)="onCardClick(conversation)">
                <ion-avatar slot="start">
                    <img src="http://7wallpapers.net/wp-content/uploads/2016/05/20_Panda.jpg">
                </ion-avatar>
                <ion-label>
                    <h2><b>{{conversation.titre}}</b></h2>
                    <p>
                        Dernier message : <br>
                        Sed ut perspiciatis unde omnis
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div class="block mescontacts" *ngIf="listMesContacts.length > 0">
        <ion-item style=" width: 100%;">
            <br>
            <ion-icon name="person" color="dark" size="large"></ion-icon>
            <ion-label class="ion-padding-start" style="font-size: large; font-weight: bold;">Mes Contacts</ion-label>
        </ion-item>
        <ion-list lines="none">
            <ion-item *ngFor="let conversation of listMesContacts" (click)="onCardClick(conversation)">
                <ion-avatar slot="start">
                    <img src="https://7wallpapers.net/wp-content/uploads/Jordan-Barrett-33.jpg">
                </ion-avatar>
                <ion-label>
                    <h2><b>{{conversation.titre}}</b></h2>
                    <p>
                        Dernier message : <br>
                        Sed ut perspiciatis unde omnis
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div class="block groupes" *ngIf="listConversationsGroupes.length > 0">
        <ion-item style=" width: 100%;">
            <br>
            <ion-icon name="people" color="dark" size="large"></ion-icon>
            <ion-label class="ion-padding-start" style="font-size: large; font-weight: bold;">Groupes</ion-label>
        </ion-item>
        <ion-list lines="none">
            <ion-item *ngFor="let conversation of listConversationsGroupes" (click)="onCardClick(conversation)">
                <ion-avatar slot="start">
                    <img src="http://7wallpapers.net/wp-content/uploads/2016/05/20_Panda.jpg">
                </ion-avatar>
                <ion-label>
                    <h2><b>{{conversation.titre}}</b></h2>
                    <p>
                        Dernier message : <br>
                        Sed ut perspiciatis unde omnis
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div class="block contacts" *ngIf="listConversationsContacts.length > 0">
        <ion-item style=" width: 100%;">
            <br>
            <ion-icon name="person" color="dark" size="large"></ion-icon>
            <ion-label class="ion-padding-start" style="font-size: large; font-weight: bold;">Contacts</ion-label>
        </ion-item>
        <ion-list lines="none">
            <ion-item *ngFor="let conversation of listConversationsContacts" (click)="onCardClick(conversation)">
                <ion-avatar slot="start">
                    <img src="https://7wallpapers.net/wp-content/uploads/Jordan-Barrett-33.jpg">
                </ion-avatar>
                <ion-label>
                    <h2><b>{{conversation.titre}}</b></h2>
                    <p>
                        Dernier message : <br>
                        Sed ut perspiciatis unde omnis
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

</ion-content>