/* 
Generic Styling, for Desktops/Laptops 
*/
ion-content{
    --background: #1d3557 url('../../../assets/logos/sp2/logo_md_tr.png') no-repeat center;
}

ion-card, .card_custom{
    background: #fff !important;
    opacity: 0.9;
}

.card_custom{
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 30em;
    margin-right: 30em;
}

ion-card{
    margin: 5em;
}

.button_custom{
    height: 5em;
}

.icon_custom{
    font-size: 3em;
  }

.label_custom{
    font-size: 1.3em;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    ion-content{
        --background: #1d3557 url('../../../assets/logos/sp2/logo_md_tr.png') no-repeat center;
    }

    ion-card, .card_custom{
        background: #fff !important;
        opacity: 0.9;
    }
    
    .card_custom{
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 15em;
        margin-right: 15em;
    }
    
    ion-card{
        margin: 3em;
    }
    
    .button_custom{
        height: 5em;
    }
    
    .icon_custom{
        font-size: 3em;
      }
    
    .label_custom{
        font-size: 1.3em;
    }
}
   
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    ion-content{
        --background: #1d3557 url('../../../assets/logos/sp2/logo_sm_tr.png') no-repeat center;
    }

    ion-card, .card_custom{
        background: #fff !important;
        opacity: 0.9;
        margin: 1em;
    }
        
    .button_custom{
        height: 3em;
    }
    
    .icon_custom{
        font-size: 2.5em;
      }
    
    .label_custom{
        font-size: 0.9em;
    }
}

/* Tablette (portrait and landscape) ----------- */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    ion-content{
        --background: #1d3557 url('../../../assets/logos/sp2/logo_md_tr.png') no-repeat center;
    }
    
    ion-card, .card_custom{
        background: #fff !important;
        opacity: 0.9;
    }
    
    .card_custom{
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 10em;
        margin-right: 10em;
    }
    
    ion-card{
        margin: 2em;
    }
    
    .button_custom{
        height: em;
    }
    
    .icon_custom{
        font-size: 3em;
      }
    
    .label_custom{
        font-size: 1.3em;
    }
}

/* Tablette large (portrait and landscape) ----------- */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px) {
    ion-content{
        --background: #1d3557 url('../../../assets/logos/sp2/logo_md_tr.png') no-repeat center;
    }
    
    ion-card, .card_custom{
        background: #fff !important;
        opacity: 0.9;

    }
    
    .card_custom{
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 15em;
        margin-right: 15em;
    }
    
    ion-card{
        margin: 5em;
    }
    
    .button_custom{
        height: 5em;
    }
    
    .icon_custom{
        font-size: 3em;
      }
    
    .label_custom{
        font-size: 1.3em;
    }
}