<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
    <!-- <ion-icon name="contact" (click)="goToProfile()" style="margin-right: 2%;" slot="end"></ion-icon> -->
    <ion-icon name="exit" (click)="logout()" style="margin-right: 2%;" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <ion-row justify-content-around>
      <ion-col>
        <ion-card class="welcome-card" class="container">
          <ion-card-header style="text-align: center;">
            <ion-card-title>Bienvenue sur Sport2Go</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row justify-content-around>
      <ion-col>
        <ion-card class="card_custom">
          <ion-button class="button_custom" expand="block" fill="clear" color="dark" (click)="downloadAPK()">
            <ion-icon name="logo-android" slot="start" class="icon_custom"></ion-icon>
            <ion-label class="label_custom">Télécharger l'application Mobile</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row justify-content-around>
      <ion-col>
        <ion-card class="card_custom">
          <ion-button *ngIf="isAdmin" class="button_custom" expand="block" fill="clear" color="dark" (click)="administration()">
            <ion-icon name="list" slot="start" class="icon_custom"></ion-icon>
            <ion-label class="label_custom">Panneau d'administration</ion-label>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>