<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/groupes" routerDirection='root'>
        <ion-icon slot="icon-only" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large" *ngIf="loaded"> Informations du groupe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-grid class="panel">
    <ion-row>
      <ion-col align-self-center size-md="6" size-lg="7" size-xs="12" class="container">
        <ion-grid>

          <ion-row style="text-align: center">
            <ion-col>
              <h1>{{groupe.nom}}</h1>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3>
                <ion-icon name="information-circle"></ion-icon> Description:
              </h3><br>
              <ion-label *ngIf="groupe.description != null || groupe.description != ''">{{groupe.description}}
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-list>
            <ion-item style="border: none">
              <ion-icon name="calendar"></ion-icon>
              <ion-label>&nbsp;{{groupe.dateCre | date: 'dd/MM/yyyy' }} </ion-label>
            </ion-item>

            <ion-item style="border: none">
              <ion-icon name="people"></ion-icon>
              <ion-label>&nbsp;{{groupe.membres.length}}</ion-label>
            </ion-item>
          </ion-list>

          <ion-row *ngIf="loaded">
            <ion-col>
              <ion-button color="primary" *ngIf="!isMembre && !isAdmin" (click)="participer()" expand="full"
                style="height: 60px; ">
                Rejoindre
                &nbsp;
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button color="success" *ngIf="isMembre && !isAdmin" expand="full" (click)="participer()"
                style="height: 60px;">
                Rejoint
                &nbsp;
                <ion-icon name="checkmark"></ion-icon>
              </ion-button>
              <ion-button color="danger" *ngIf="isMembre && isAdmin" expand="full" (click)="delete()"
                style="height: 60px;">
                Supprimer
                &nbsp;
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>


        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>