/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container {
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 1);
    // padding: 10px 10px 10px 10px;
    
}
.input{
    -webkit-box-shadow: 0px 0px 6px 2px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(235,235,235,1);
    box-shadow: 0px 0px 6px 2px rgba(235,235,235,1);
    margin: 4px 4px 4px 4px;
}

html {
    font-size: 1.2em;
    --color: #7f7f7f !important;
    --background: rgb(234, 234, 234);
}

ion-content {
    --background: center / cover no-repeat url('assets/sport.jpg'); 
    background-size: cover;
}


.input {
    font-size: 80%;
    --background: linear-gradient(#ffffff, #ffffff, #ffffff, #fbfbfb);
    border-bottom: solid 1px #f0f0ff;
    border-radius: 2px;

    --padding-end: 2% 2% 2% 2%;
}

form {
    padding: 2% 5% 2% 5%;
}

.toast {
    text-align: center;
}

ion-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: none !important;
    padding: auto;
    margin: 0;
    list-style: none;
}

ion-list  > ion-item {
    flex: 1 1 400px;
    height: auto;
    margin: 2px 2px 2px 2px;
}

ion-item >  .item-inner {
    border: unset !important;
}

.panel{
    height: 100%; 
    display: flex;
    padding: 0;
}

.panel > ion-row {
    flex: 1 1 auto;
    justify-content: center;
}
