.padding {
    padding: 5%!important;
}
.logo ion-icon{
    font-size: 9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img{
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    position: relative;
    height: 250px;
}
ion-content {
    --background: linear-gradient(#485563, #29323c);
    // --ion-background-color: linear-gradient(#6DD5FA, #2980B9);
    // --ion-background-color: linear-gradient(#f5af19, #f12711);
    // --ion-background-color: linear-gradient(#485563, #29323c);
}
ion-item {
    --ion-background-color: transparent!important;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.label_custom{
    display: contents !important;
}

.datetime-placeholder {
    color: #999;
    opacity: 0.5;
}

ion-datetime{
    color: #fff;
    --placeholder-color: initial !important;
    --placeholder-font-style: initial !important;
    --placeholder-font-weight: initial !important;
    --placeholder-opacity: 0.5 !important;
}
