<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/../" routerDirection='root'>
        <ion-icon slot="icon-only" name="arrow-back" size="large" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Créer un compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">

    <div class="logo">
      <img src="../../../../assets/logos/sp2/logo_lg_tr.png">
    </div>

    <ion-item>
      <ion-label color="light">Nom :</ion-label>
      <ion-input color="light" placeholder="Nom" [(ngModel)]="user.nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Prénom :</ion-label>
      <ion-input color="light" placeholder="Prénom" style="text-align: left;" [(ngModel)]="user.prenom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Date de naissance :</ion-label>
      <ion-datetime class="label_custom" placeholder="Date de naissance" [(ngModel)]="user.dateNaissance" displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="light">Adresse email :</ion-label>
      <ion-input color="light" placeholder="Adresse email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe :</ion-label>
      <ion-input color="light" placeholder="Mot de passe" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <!-- <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button> -->
    </ion-item>

    <ion-button color="tertiary" expand="block" shape="round" (click)="register()">Valider</ion-button>

    <!-- <ion-item lines="none">
      <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
    </ion-item>
    
    <div class="flex">
      <ion-button color="facebook" shape="round">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="google" color="youtube" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div> -->

  </div>
</ion-content>

<!-- <ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <ion-item>
            <ion-input placeholder="Nom" [(ngModel)]="user.nom"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Prénom" [(ngModel)]="user.prenom"></ion-input>
          </ion-item>

          <ion-item>
            <ion-datetime style="padding-left: 0px;"  placeholder="Date de naissance" [(ngModel)]="user.dateNaissance" displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Adresse email" [(ngModel)]="user.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <ion-button ion-button color="secondary" (click)="register()">
            Créer
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->